body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #f7f7f7;
  }
  
  h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin: 10px 0;
    font-size: 16px;
    color: #555;
  }
  
  input {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
  }
  
  button {
    padding: 12px 24px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  h3 {
    color: #333;
    margin-top: 30px;
  }
  
  #resultado {
    font-weight: bold;
    color: #4caf50;
    font-size: 18px;
    margin-top: 10px;
  }
 body{
    background-color: aqua;
 }